# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Deploy PDF file to Release

on:
  push:
    branches: [main]
    paths:
      - "docs/**"
      - "build/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install Ngrok
        run: |
          wget "https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.tgz"
          tar -xvzf ngrok-v3-stable-linux-amd64.tgz
          ./ngrok config add-authtoken ${{ secrets.ngrok_token }}
      - name: Build PDF file
        run: |
          chmod +x build/build.sh
          sh build/build.sh
      - name: Publish to Release page
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Latest build"
          files: |
            *.pdf
